@model Tuple<IEnumerable<Ksiazka>, IEnumerable<Rezerwacja>>
<div style="border: black 1px solid">
    @foreach (var book in Model.Item1){
        <p>@book.Id</p>
        <p>@book.Tytul</p>
        <p>@book.ISBN</p>
        <p>Woluminy: </p>
        <div style="border: black 1px solid">
        @foreach (var volume in book.Woluminy){
            @if(Model.Item2.Any(reservation => reservation.WoluminId == volume.Id))
            {
                <p>@volume.Id - Zarezerwowany</p>
                <a class="btn btn-danger" asp-action="DeleteVolume" asp-route-id="@volume.Id">Usuń</a>
                <a class="btn btn-info" disabled asp-action="Reservation" asp-route-id="@volume.Id">Zarezerwuj</a>
                <a class="btn btn-info" asp-route-id="@volume.Id">Wypożycz</a>
            }
            else
            {
                <p>@volume.Id</p>
                <a class="btn btn-danger" asp-action="DeleteVolume" asp-route-id="@volume.Id">Usuń</a>
                <a class="btn btn-info" asp-action="Reservation" asp-route-id="@volume.Id">Zarezerwuj</a>
                <a class="btn btn-info" asp-route-id="@volume.Id">Wypożycz</a>
            }
        }
        </div>
        <a class="btn btn-info" asp-route-id="@book.Id" asp-action="AddVolume">Dodaj wolumin</a>
    }
</div>