@model ICollection<Ksiazka>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                <strong>@TempData["ErrorMessage"]</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                <strong>@TempData["SuccessMessage"]</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (User.Identity.IsAuthenticated)
        {
            @if (Model.Count != 0)
            {
                <div class="gallery-image">
                    @foreach (var ksiazka in Model)
                    {
                        <div class="itemoopic" style="display:grid; grid-template-columns: 1fr 1fr; column-gap: 10px; row-gap: 5px">
                            <div class="img-box">
                                <img src="@ksiazka.Okladka" />
                                <div class="transparent-box">
                                    <div class="caption">
                                        <p class="upper">@ksiazka.Tytul</p>
                                        <p class="opacity-low upper">@ksiazka.Autor.Imie @ksiazka.Autor.Nazwisko</p>
                                        <p class="opacity-low upper">@ksiazka.Wydanie</p>
                                        <p class="opacity-low upper">@ksiazka.DataWydania.ToString("dd.MM.yyyy")</p>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-lg outbutton select-book"
                                    data-id="@ksiazka.Id"
                                    style="grid-column:span 2">
                                Porównaj książkę
                            </button>
                        </div>
                    }
                </div>
            }
            else
            {
                <h2>Brak książek w katalogu</h2>
            }
        }
        else
        {
            <h1 class="display-4">Brak dostępu!</h1>
        }
    </div>

    <script>
        let selectedBooks = [];

        document.addEventListener('DOMContentLoaded', function () {
            const compareButtons = document.querySelectorAll('.select-book');

            compareButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const bookId = this.dataset.id;

                    if (selectedBooks.length < 2) {
                        selectedBooks.push(bookId);
                    }

                    if (selectedBooks.length === 2) {
                        const url = `/Library/CompareBooks?book1Id=${selectedBooks[0]}&book2Id=${selectedBooks[1]}`;
                        window.location.href = url;
                    } else {
                        alert('Książka została dodana do porównania. Wybierz jeszcze jedną.');
                    }
                });
            });
        });
    </script>
}
