@using Microsoft.AspNetCore.Identity
@model ICollection<Ksiazka>
@inject UserManager<Uzytkownik> UserManager
<div class="text-center">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            <strong>@TempData["ErrorMessage"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            <strong>@TempData["SuccessMessage"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Add" class="btn btn-primary btn-lg">
            Dodaj Książkę
        </a>
        if (Model.Count != 0)
        {
            <div class="gallery-image">
            @foreach (var ksiazka in Model)
            {
                <div class ="itemoopic" style="display:grid; grid-template-columns: 1fr 1fr; column-gap: 20px;">
                    <div class="img-box">
                        <img src="@ksiazka.Okladka"/>
                        <div class="transparent-box">
                            <div class="caption">
                                <p class="upper">@ksiazka.Tytul</p>
                                <p class="opacity-low upper">@ksiazka.Autor.Imie @ksiazka.Autor.Nazwisko </p>
                                <p class="opacity-low upper"> @ksiazka.Wydanie</p>
                                <p class="opacity-low upper">@ksiazka.DataWydania.ToString("dd.MM.yyyy") </p>
                            </div>
                        </div>
                    </div>
                    <a asp-action="Delete" asp-route-id="@ksiazka.Id" class="btn btn-primary btn-lg outbutton">
                        Usuń książkę
                    </a>
                    <a asp-action="Edit" asp-route-id="@ksiazka.Id" class="btn btn-primary btn-lg outbutton">
                        Edytuj książkę
                    </a>
                    @if(ksiazka.Opinie.Count == 0)
                    {
                        <a asp-action="AddReview" asp-route-idksiazka="@ksiazka.Id" class="btn btn-secondary btn-lg" style="grid-column:span 2">
                            Dodaj opinię
                        </a>
                    }
                    @if(ksiazka.Opinie.Count == 0)
                    {
                        <p style="grid-column:span 2">Brak opinii</p>
                    }
                    else
                    {
                        <p>Opinie: </p>
                        <br />
                        @foreach(var opinia in ksiazka.Opinie)
                        {
                                <p>Ocena: @opinia.Ocena</p>
                                <p>Komentarz: @opinia.Komentarz</p>
                            <a asp-action="EditReview" asp-route-id="@opinia.Id" asp-route-idksiazka="@ksiazka.Id" class="btn btn-secondary btn-lg">
                                Zmień opinię
                            </a>
                            <a asp-action="DeleteReview" asp-route-id="@opinia.Id" class="btn btn-secondary btn-lg">
                                Usuń opinię
                            </a>
                        }
                    }
                </div>
            }
            </div>
        }
        else
        {
            <h2>Brak książek w katalogu</h2>
        }

    }
    else
    {
        <h1 class="display-4">Brak dostępu!</h1>
    }
</div>