@model ICollection<Autor>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        if(Model.Count == 0)
        {
            <h2>Brak autorów</h2>
        }
        foreach(var autor in Model)
        {
            <div style="border: solid 1px black">
                <p>@autor.Id
                @autor.Imie
                @autor.Nazwisko</p>
                <a asp-action="EditAuthor" class="btn btn-danger" asp-route-id="@autor.Id">Edytuj</a>
                @if(autor.Ksiazki.Count == 0){
                    <a asp-action="DeleteAuthor" class="btn btn-danger" asp-route-id="@autor.Id">Usuń</a>
                }
                else{
                    <span>Usuwanie jest niedostępne - Autor posiada przypisane książki</span>
                }
                
            </div>
            

        }
        <a asp-action="AddAuthor" class="btn btn-info">Dodaj Autora</a>
    }
    else
    {
        <h1>Zaloguj się by zobaczyć zawartość</h1>
    }
</div>